@import '../../variables';

.alert {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1000;

  &__item {
    background: brown;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1rem;
  
    // height: 100px;
    // width: 200px;
  }

  &__text {
    margin-right: 1rem;
  }

  &__close {
    cursor: pointer;
  }
}