@import '../../variables';

.btn {
	min-width: 110px;
	height: 40px;
	padding: 0 20px;
	background: $c-primary;
	border-radius: 5px;
	border: none;
	color: $c-white;
	font-size: 16px;
	user-select: none;

	display: flex;
	align-items: center;
	justify-content: center;

	transition-duration: 0.9s;

	&.count {
		min-width: 20px;
		padding: 0;
		width: 20px;
		height: 20px;
		background: $c-white;
		color: $c-primary;
		border: 1px solid $c-primary;
	}

	&.primary {
		background: $c-primary;
	}

	&.secondary {
		background: $c-secondary;
		color: black;
	}

	&-small {
		min-width: 80px;
		height: 25px;
		padding: 0 10px;
	}

	div {
		align-self: center;
	}

	&:focus {
		box-shadow: 0 0 0 2px rgba($c-primary, $alpha: 0.5);
	}

	&:hover {
		background: 
			linear-gradient(180deg, $c-primary 0%, #0055fb 100%);
		cursor: pointer;
		// color: $c-white;
	}

	&:active {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
			linear-gradient(180deg, #45a6ff 0%, #0055fb 100%), #c4c4c4;
	}

	&:disabled {
		background: linear-gradient(0deg, #c4c4c4, #c4c4c4),
			linear-gradient(180deg, #45a6ff 0%, #0055fb 100%);
		color: black;
	}
}
