@import '../../variables';

.checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-shrink: 0;

  &__text {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__real {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;

    &:focus + .checkbox__custom {
      box-shadow: 0px 0px 0px 2px rgba($color: $c-primary, $alpha: 0.6);
    }

    &:checked + .checkbox__custom {
      background: $c-primary;
      border: $border;
    }

    &:checked + .checkbox__custom::before {
      opacity: 1;
    }
  }

  &__custom {
    position: relative;
    display: inline-block;
    width: 23px;
    height: 23px;
    background: $c-white;
    border-radius: $border-radius;
    border: $border;
    flex-shrink: 0;

    &::before {
      content: '';
      display: inline-block;
      width: 13px;
      height: 13px;
      background-image: url('../../../assets/icons/Shape.svg');
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      margin-top: 2px;

      transition: 0.2s ease-in;
    }
  }

  &--red {
    border: 1px solid $c-red;
    background: rgba($color: $c-red, $alpha: 0.1);
  }

  &--orange {
    border: 1px solid $c-orange;
    background: rgba($color: $c-orange, $alpha: 0.1);
  }

  &--blue {
    border: 1px solid $c-blue;
    background: rgba($color: $c-blue, $alpha: 0.1);
  }
}
