@import '../../variables';

// .checkbox input {
//   // --active: #{$blue};
//   --active-inner: $c-primary;
//   --focus: 2px rgba(39, 94, 254, 0.3);
//   --border: $c-primary;
//   --border-hover: rgba(179, 8, 8, 0.3);
//   --background: rgb(255, 255, 255);
//   // --disabled: #f6f8ff;
//   --disabled-inner: #e1e6f9;

//   height: 20px;
//   outline: none;
//   display: inline-block;
//   vertical-align: top;
//   position: relative;
//   margin: 0;
//   cursor: pointer;
//   border: 1px solid var(--bc, var(--border));
//   // background: var(--b, var(--background));
//   transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;

//   border-radius: 2px;
//   margin-right: 10px;

//   &:after {
//     content: '';
//     display: block;
//     width: 20px;
//     height: 20px;
//     left: 4px;
//     top: 6px;
//     transform: rotate(var(--r, 20deg));
//     background: url('../../../assets/img/bell.svg') no-repeat;
//     // left: 0;
//     // top: 0;
//     position: absolute;

//     transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
//       opacity var(--d-o, 0.2s);
//   }

//   &:checked {
//     --b: var(--active);
//     --bc: var(--active);
//     --d-o: 0.3s;
//     --d-t: 0.6s;
//     --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
//     --r: 0deg;
//   }

//   // &:disabled {
//   // 	--b: var(--disabled);
//   // 	cursor: not-allowed;
//   // 	opacity: 0.9;
//   // 	&:checked {
//   // 		--b: var(--disabled-inner);
//   // 		--bc: var(--border);
//   // 	}
//   // 	& + label {
//   // 		cursor: not-allowed;
//   // 	}
//   // }

//   &:hover {
//     &:not(:checked) {
//       &:not(:disabled) {
//         --bc: var(--border-hover);
//       }
//     }
//   }

//   &:focus {
//     box-shadow: 0 0 0 var(--focus);
//   }

//   & {
//     width: 21px;
//     &:after {
//       opacity: var(--o, 0);
//     }
//     &:checked {
//       --o: 1;
//     }
//   }

//   & + span {
//     font-size: 14px;
//     display: inline-block;
//     font-weight: normal;
//     vertical-align: top;
//     cursor: pointer;
//   }
// }

// .checkbox input {
//   --active: $c-primary;
//   --active-inner: $c-primary;
//   // --focus: 2px rgba(39, 94, 254, 0.3);
//   --border: $c-primary;
//   --border-hover: $c-primary;
//   --background: rgb(255, 255, 255);
//   // --disabled: #f6f8ff;
//   --disabled-inner: #e1e6f9;

//   -webkit-appearance: none;
//   -moz-appearance: none;
//   height: 20px;
//   outline: none;
//   display: inline-block;
//   vertical-align: top;
//   position: relative;
//   margin: 0;
//   cursor: pointer;
//   border: 1px solid var(--bc, var(--border));
//   // background: var(--b, var(--background));
//   transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;

//   &:after {
//     content: '';
//     display: block;
//     // left: 0;
//     // top: 0;
//     position: absolute;

//     transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
//       opacity var(--d-o, 0.2s);
//   }

//   &:checked {
//     --b: var(--active);
//     --bc: var(--active);
//     --d-o: 0.3s;
//     --d-t: 0.6s;
//     --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
//   }

//   // &:disabled {
//   // 	--b: var(--disabled);
//   // 	cursor: not-allowed;
//   // 	opacity: 0.9;
//   // 	&:checked {
//   // 		--b: var(--disabled-inner);
//   // 		--bc: var(--border);
//   // 	}
//   // 	& + label {
//   // 		cursor: not-allowed;
//   // 	}
//   // }

//   &:hover {
//     &:not(:checked) {
//       &:not(:disabled) {
//         --bc: var(--border-hover);
//       }
//     }
//   }

//   // &:focus {
//   // 	box-shadow: 0 0 0 var(--focus);
//   // }

//   &:not(.switch) {
//     width: 21px;
//     &:after {
//       opacity: var(--o, 0);
//     }
//     &:checked {
//       --o: 1;
//     }
//   }
//   & + span {
//     font-size: 14px;
//     display: inline-block;
//     font-weight: normal;
//     vertical-align: top;
//     cursor: pointer;
//   }
// }

// .checkbox input {
//   // &:not(.switch) {
//   border-radius: 2px;
//   margin-right: 10px;

//   &:after {
//     width: 20px;
//     height: 20px;
//     left: 4px;
//     top: 6px;
//     transform: rotate(var(--r, 20deg));
//     background: url('../../../assets/img/Shape.svg') no-repeat;
//   }
//   &:checked {
//     --r: 0deg;
//   }
// }

/* *********************************
Чекбоксы
********************************* */

.checkbox {
	$с: #ffffff;
	cursor: pointer;
	display: flex;
	align-items: center;

	&__real {
		width: 0;
		height: 0;
		opacity: 0;
		position: absolute;
		z-index: -1;

		&:focus + .checkbox__custom {
			box-shadow: 0px 0px 0px 1px #818a94;
		}

		&:checked + .checkbox__custom {
			background: $c-primary;
		}

		&:checked + .checkbox__custom::before {
			// transform: translate(-50%, -50%) scale(1);
			opacity: 1;
		}
	}

	&__custom {
		position: relative;
		display: inline-block;
		width: 16px;
		height: 16px;
		background: $с;
		// background: chartreuse;
		border: 1px solid #d4d4d4;
		border-radius: 4px;
		// vertical-align: middle;
		margin-right: 10px;

		&::before {
			content: '';

			/* Рисуем галочку */
			display: inline-block;
			// display: flex;
			width: 13px;
			height: 13px;
			background-image: url('../../../assets/img/Shape.svg');
			background-size: contain;
			background-repeat: no-repeat;

			/* Выравниваем по центру */
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			opacity: 0;
			margin-top: 2px;

			transition: 0.2s ease-in;
		}
	}
}

// .real-checkbox {
// 	width: 0;
// 	height: 0;
// 	opacity: 0;
// 	position: absolute;
// 	z-index: -1;
// }

// .real-checkbox:focus + .custom-checkbox {
// 	box-shadow: 0px 0px 0px 1px #38577a, 0px 0px 10px #7e9bbd;

// }

// .custom-checkbox {
// 	position: relative;
// 	display: inline-block;
// 	width: 20px;
// 	height: 20px;
// 	background: #ffffff;
// 	border: 2px solid #7e9bbd;
// 	border-radius: 4px;
// 	vertical-align: sub;
// 	margin-right: 5px;
// }

// .custom-checkbox::before {
// 	content: '';

// 	/* Рисуем галочку */
// 	display: inline-block;
// 	width: 13px;
// 	height: 13px;
// 	// background-image: url('./check.svg');
// 	background-size: contain;
// 	background-repeat: no-repeat;

// 	/* Выравниваем по центру */
// 	position: absolute;
// 	left: 50%;
// 	top: 50%;
// 	transform: translate(-50%, -50%) scale(0);
// 	margin-top: 1px;

// 	transition: 0.2s ease-in;
// }

// /*
// Активируем фейковый / декоративный чекбокс
// */

// .real-checkbox:checked + .custom-checkbox::before {
// 	transform: translate(-50%, -50%) scale(1);
// }
