@import '../../variables';

.color-income {
  background-color: $c-income;
}

.color-expense {
  background-color: $c-expense;
}

.primary {
  color: $c-white;
  background-color: $c-primary;
}

.danger {
  color: $c-white;
  background-color: $c-red;
}

.secondary {
  color: $c-primary;
  background-color: $c-secondary;
  border: $c-primary 1px solid;
}

.grey {
  background-color: #ece9e9a8;
}

.lime {
  background-color: #b6e6bd9c;
}

.purple {
  background-color: #dfbedb8e;
}

.black {
  background-color: #0000005e;
}

.red {
  background-color: #facdd486;
}

.cyan {
  background-color: #1289a74f;
}

.teal {
  background-color: #b3e0dda6;
}

.green {
  background-color: #6b8d4257;
}

.blue {
  background-color: #dfbedb8f;
}

.pink {
  background-color: #f9bbd28c;
}

.yellow {
  background-color: #fcf9c686;
}

.orange {
  background-color: #ffe0b183;
}

.brown {
  background-color: #ddbbaf80;
}

.graphite {
  background-color: #d0d9de93;
}
