.lds-spinner {
	$parent: &;

	margin: 30px auto;

	color: #000000;
	display: inline-block;
	position: relative;

	& div {
		animation: lds-spinner 1.2s linear infinite;

		&::after {
			content: ' ';
			display: block;
			position: absolute;
			background: #000000;
		}

		@for $i from 1 through 8 {
			&:nth-child(#{$i}) {
				transform: rotate(#{($i - 1) * 45deg});
				animation-delay: -1.05s * $i;
			}
		}
	}

	&-small {
		width: 24px;
		height: 24px;

		& div {
			transform-origin: 12px 12px;

			&::after {
				top: 1px;
				left: 11px;
				width: 2px;
				height: 6px;
				border-radius: 40%;
			}
		}
	}

	&-normal {
		width: 50px;
		height: 50px;

		& div {
			transform-origin: 25px 25px;

			&::after {
				top: 8px;
				left: 24px;
				width: 2px;
				height: 10px;
				border-radius: 30%;
			}
		}
	}

	&-primary {
		& div {
			&::after {
				background: blue;
			}
		}
	}
}

@keyframes lds-spinner {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.lds-circle {
	display: inline-block;
	transform: translateZ(1px);

	& > div {
		display: inline-block;
		width: 40px;
		height: 40px;
		margin: 5px;
		border-radius: 50%;
		background: rgb(0, 0, 0);
		animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	}
}

@keyframes lds-circle {
	0%,
	100% {
		animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
	}
	0% {
		transform: rotateY(0deg);
	}
	50% {
		transform: rotateY(1800deg);
		animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
	}
	100% {
		transform: rotateY(3600deg);
	}
}
