@import '../../variables';


.modal {
  position: fixed;
  transform: translate(-50%, 0);
  left: 50%;
	top: 20%;
	
	background-color: #ffffff;
	color: #000000;
	max-width: 800px;
	border-radius: $border-radius;
	padding: 2rem;
	box-shadow: 0px 0px 4px rgba($color: #000000, $alpha: .25);
	z-index: 110;

	&__title {
		font-size: 1.8rem;
		text-align: center;
		margin-bottom: 1rem;
	}
}
