@import '../../variables';

.toggle {
	display: flex;
	// justify-content: stretch;
	// border: 1px solid $c-secondary;
	border: 1px solid black;
	border-radius: 5px;
	height: 20px;
	min-width: 40px;
  cursor: pointer;

	flex-grow: 1;
	max-width: 200px;
	background-color: $c-white;

	&__switch {
		// padding: 2px 8px;

		margin: 1px;
		flex-grow: 1;
		text-align: center;

		min-width: 20px;
		border-radius: 4px;
	}

	&__btn {
		// width: 70px;
		height: 20px;


		background: #ffffff;

		/* MyDropShadow */
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25), inset 0px 2px 0px #ffffff;
		border-radius: 4px;
		&-active {
		}
	}

	// &__active {
	//   display: block;
	// }
}
