@import '../../variables';

.toggle {
	border-radius: 5px;
	height: $element-height;
	user-select: none;
	max-width: 200px;

  display: flex;
  align-items: center;
  justify-content: center;

	cursor: pointer;

	&__switch {
		display: flex;
		// justify-content: stretch;
		// border: 1px solid $c-secondary;
		border: 1px solid black;

		min-width: 40px;
		border-radius: 5px;

		max-width: 200px;
		background-color: $c-white;
		padding: 2px;

		&-item {
			// margin: 1px;
			text-align: center;
			padding: 1px 4px;
			flex-grow: 1;

			min-width: 20px;
			border-radius: $border-radius;
		}
	}

	&__btn {
		// width: 70px;
		height: $element-height;
		// text-align: center;

		display: flex;
		align-items: center;
		justify-content: center;

		// font-size: 12px;

		background: #ffffff;

		/* MyDropShadow */
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25), inset 0px 2px 0px #ffffff;
		border-radius: 4px;
		// padding: 2px;
		padding: 0 4px;
		&-active {
			box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.7);
		}
	}
}
