@import '../../variables';

.tooltip {
	--tooltip-margin: 30px;
	--tooltip-arrow-size: 6px;

	display: inline-block;
	position: absolute;
	z-index: 10000;
	border-radius: 4px;
	padding: 6px;
	color: $c-white;
	background: $c-black;
	z-index: 10000;
}
