@import '../variables';

.error {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: rgba(207, 44, 0, 0.1);
	border-radius: 5px;
	padding: 10px 15px;
	margin-bottom: 20px;

	& > div {
		// margin-left: 10px;
		color: $c-red;
		font-size: 18px;

		& footer {
			font-size: $f-small;
			opacity: 0.5;
		}
	}
}
