@import 'variables';

.input {
	display: flex;
	flex-direction: column;

	& label {
		padding-bottom: 5px;
		display: flex;
		justify-content: space-between;

		& :nth-child(2) {
			font-size: 12px;
			color: #999999;
		}
	}

	& input {
		margin-bottom: 20px;
		height: 40px;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 5px;
		padding: 5px;

		font-size: 18px;

		&:hover {
			border: 1px solid rgba(0, 0, 0, 0.4);
			cursor: pointer;
		}

		&:focus {
			box-shadow: 0 0 0 2px rgba(#000000, $alpha: 0.2);
		}
	}

	&.--invalid {
		color: $c-invalid;

		& input {
			border: 1px $c-invalid solid;
			box-shadow: 0px 0px 5px rgba(207, 44, 0, 0.5);
		}
	}
}
