@import './libs/normalize';
@import './components/all';
@import './variables';

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	background: #f7f7f7;
	color: #0d0d0d;
}

.wrapper {
	position: absolute;
	min-width: 640px;
	min-height: 520px;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: 0 auto;
}

// .logo {
// 	display: flex;
// 	margin: 0 auto;
// 	position: relative;

// 	& div {
// 		height: 30px;
// 		background: rgba(0, 0, 0, 0.2);
// 		margin-right: 5px;
// 	}

// 	& div:nth-child(1) {
// 		width: 30px;
// 		border-radius: 50%;
// 	}
// 	& div:nth-child(2) {
// 		width: 15px;
// 	}
// 	& div:nth-child(3) {
// 		width: 30px;
// 		border-radius: 50%;
// 	}
// 	& div:nth-child(4) {
// 		width: 15px;
// 		transform: skew(-25deg);
// 	}
// }

// .auth {
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	transform: translate(-50%, -50%);

// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;

// 	&__main {
// 		width: 520px;
// 		min-height: 425px;
// 		background: $c-white;
// 		margin: 20px auto;
// 		border-radius: 5px;
// 		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
// 		padding: 40px 30px;
// 	}

// 	& header {
// 		font-size: 24px;
// 		margin-bottom: 20px;
// 	}

// }
