@import './libs/reset';
@import './components/all';
@import './variables';

.budget {
	padding: 10px;
	overflow: auto;
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	// display: flex;
	left: $menu-width + $gap;
	background: $c-white;
	border-radius: $block-radius;

	&__tables {
		max-width: 500px;
		display: flex;
		justify-content: space-between;
	}

	&__income {
	}

	&__panel {
		display: flex;
		margin: 1rem;
	}
}
