@import './libs/reset';
@import './components/all';
@import './variables';

.budget {
  padding: 10px;
  &__expense {
    
  }

  &__income {

  }

  &__panel {
    display: flex;
    margin: 1rem;
  }

}