@import './libs/reset';
@import './components/all';
@import './variables';

.budget {
	padding: 15px;
	overflow: auto;
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	left: $menu-width + $gap;
	background: $c-white;
	border-radius: $block-radius;

	&__container {
		margin: 10px auto;
		max-width: 800px;
		height: 100%;
	}

	&__tables {
		display: flex;
		justify-content: space-between;

		&-header {
			text-align: center;
			font-size: 18px;
			margin-bottom: 15px;
		}
	}

	&__categories {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		max-width: 600px;
		// flex-grow: 1;
	}

	&__income {
	}

	&__panel {
		display: flex;
		min-height: 40px;
		// margin: 1rem;
		justify-content: space-between;
		margin-bottom: 2rem;

		&-selectors {
			display: flex;
			flex-grow: 1;
			justify-content: space-between;

			max-width: 400px;
			align-items: center;
		}
	}

	&__proportion {
		height: 40px;
		width: 200px;
		display: flex;
		flex-direction: column;
		font-size: 14px;

		&-top,
		&-bottom {
			border-radius: 5px;
			min-width: 40px;
			height: inherit;
			padding: 2px;
			padding-left: 5px;
		}

		&-top {
			// min-width: 50%;
			background-color: $c-expense;
		}

		&-bottom {
			// width: 70%;
			background-color: $c-income;
		}
	}
}

.reports__header {
	font-size: 24px;
	text-align: center;
	margin: 20px auto;
}
