@import './libs/reset';
@import './components/all';
@import './variables';

.budget {
	padding: 10px;
	overflow: auto;
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	// display: flex;
	left: $menu-width + $gap;
	background: $c-white;
	border-radius: $block-radius;

	&__tables {
		max-width: 500px;
		display: flex;
		justify-content: space-between;
	}

	&__income {
	}

	&__panel {
		display: flex;
		margin: 1rem;
	}

	&__diagramm {
		height: 40px;
		width: 200px;
		display: flex;
		flex-direction: column;

		&-top,
		&-bottom {
			border-radius: 5px;
			height: inherit;
		}

		&-top {
			min-width: 50%;
			background-color: $c-expense;
		}

		&-bottom {
			width: 70%;
			background-color: $c-income;
		}
	}
}
