@import './variables';

.budget {
	margin: 10px auto;
	max-width: 800px;

	&__panel {
		display: flex;
		min-height: 40px;
		justify-content: space-between;
		margin-bottom: 2rem;
	}
}

.transaction-enter {
	opacity: 0;
	transform: translateY(-20px);
}
.transaction-enter-active {
	opacity: 1;
	transform: translateY(0);
	transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.transaction-exit {
	opacity: 1;
}
.transaction-exit-active {
	opacity: 0;
	transform: translateY(-20px);
	transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
