@import './libs/reset';
@import './components/all';
@import './variables';

.budget {
	padding: 10px;
	overflow: auto;
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	// display: flex;
	left: $menu-width + $gap;
	background: $c-white;
	border-radius: $block-radius;

	&__container {
		margin: 10px auto;
		max-width: 800px;
	}

	&__tables {
		// max-width: 500px;
		display: flex;
		justify-content: space-between;
	}

	&__income {
	}

	&__panel {
		display: flex;
		// margin: 1rem;
		justify-content: space-between;
		margin-bottom: 2rem;

		&-selectors {
			display: flex;
			align-items: center;
		}
	}

	&__proportion {
		height: 40px;
		width: 200px;
		display: flex;
		flex-direction: column;
		font-size: 14px;


		&-top,
		&-bottom {
			border-radius: 5px;
			min-width: 40px;
			height: inherit;
			padding: 2px;
			padding-left: 5px;

		}

		&-top {
			// min-width: 50%;
			background-color: $c-expense;
		}

		&-bottom {
			// width: 70%;
			background-color: $c-income;
		}
	}
}
