.backdrop {
	position: fixed;

	// z-index: -1;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;

	&-black {
    // position: fixed;
		// z-index: 20;
		// top: 0;
		// right: 0;
		// left: 0;
		// bottom: 0;
		background: rgba($color: #000000, $alpha: 0.7);
	}

	&-transparent {
		// position: fixed;
		// z-index: -1;
		// top: 0;
		// right: 0;
		// left: 0;
		// bottom: 0;
		background: transparent;
	}
}
