@import '../variables';

.colorpicker {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem auto;
  width: 220px;
  justify-content: center;

  &__item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
  }

  & .active {
    box-shadow: 0 0 3px inset black;
  }
}
