.lds-spinner {
	color: official;
	display: inline-block;
	position: relative;
	width: 24px;
	height: 24px;

	& div {
		transform-origin: 12px 12px;
		animation: lds-spinner 1.2s linear infinite;

		&::after {
			content: ' ';
			display: block;
			position: absolute;
			top: 1px;
			left: 11px;
			width: 2px;
			height: 6px;
			border-radius: 40%;
			background: #fff;
		}

		@for $i from 1 through 8 {
			&:nth-child(#{$i}) {
				transform: rotate(#{($i - 1) * 45deg});
				animation-delay: -1.05s * $i;
			}
		}
	}
}

@keyframes lds-spinner {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
