.Modal {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;

	// position: fixed;
	// width: 100%;
	// height: 100%;
	// background-color: rgba($color: #000000, $alpha: 0.7);
	// top: 0;
	// left: 0;

	// z-index: 2;

	// opacity: 1;
	// visibility: hidden;

	// transition: all 0.8s ease 0s;



	&__content {
		background-color: #ffffff;
		color: #000000;
		max-width: 800px;
		border-radius: 4px;
		padding: 20px;

		transition: all 0.8s ease 0s;
		// opacity: 0;
		transform: translate(0px, -100%);
	}

	&__title {
		font-size: 20px;
		margin-bottom: 10px;
	}

	&__body {
	}

	.open {
	}
}

// .Modal {

// 	position: absolute;
// 	left: 50%;
// 	transform: translate(-50%, 0);

// 	top: 20%;
// 	padding: 15px;
// 	// height: 200px;
// 	// max-width: 400px;
// 	// min-width: 200px;
// 	background: #cccc;
// 	border-radius: 3px;

// 	&__title {
// 		margin-bottom: 20px;
// 	}

// 	&__input input {
// 		height: 20px;
// 		margin: 20px 0;
// 		border: 1px solid rgba(0, 0, 0, 0.2);
// 		border-radius: 2px;
// 		font-size: 14px;
// 	}

//   &__buttons {
// 		margin-top: 20px;
// 		display: flex;
// 		justify-content: space-between;
//   }
// }
