.modal {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);

	top: 20%;
	padding: 15px;
	// height: 200px;
	// max-width: 400px;
	// min-width: 200px;
	background: #cccc;
  border-radius: 3px;
  
  & label {
    margin-bottom: 20px;

  }

  &__buttons {
    display: flex;
  }
}
