@import '../variables';

.table {
	max-width: 1000px;

	& .header,
	.table-item {
		display: grid;
		// width: 100%;
		grid-template-columns:
			minmax(50px, 2fr)
			minmax(50px, 1fr)
			minmax(50px, 1.5fr)
			minmax(50px, 150px);
		// overflow: hidden;
		// text-overflow: ellipsis;
		// white-space: nowrap;

		// grid-template-rows: 1fr;
		// grid-column-gap: 6px;
		// grid-row-gap: 10px;

		&.header {
			border-bottom: 1px solid black;
			padding: 5px;
			padding-left: 15px;
		}

		&.tbody {
		}

		&.table-item {
			border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
			margin: 0 10px;
			padding: 5px;
		}
	}

	// & thead,
	// tbody,
	// tr {
	// 	display: contents;
	// background: red;
	// }

	// & th,
	// td {
	// 	padding: 15px;
	// 	overflow: hidden;
	// 	text-overflow: ellipsis;
	// 	white-space: nowrap;
	// }

	// & th {
	// 	position: sticky;
	// 	top: 0;
	// 	background: #05116f;
	// 	text-align: left;
	// 	font-weight: normal;
	// 	font-size: 1.1rem;
	// 	color: white;
	// }

	// th:last-child {
	// 	border: 0;
	// }

	// & td {
	// 	padding-top: 10px;
	// 	padding-bottom: 10px;
	// }

	// & tr:nth-child(even) td {
	// 	background: #f8f6ff;
	// }

	& .options {
		display: flex;
		justify-content: flex-end;
	}
}

// .table {
// 	width: 100%;
// 	border-collapse: collapse;

// 	& table thead {
// 		border-bottom: 1px solid black;
// 		padding: 5px;
// 		padding-left: 15px;
// 	}

// 	&__item {
// 		border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
// 		margin: 0 10px;
// 		padding: 5px;
// 	}
// }
