@import '../variables';

.table {
	max-width: 800px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	&__header,
	&__item {
		display: grid;
		gap: 10px;

		grid-template-columns:
			minmax(50px, 2fr)
			minmax(50px, 1fr)
			minmax(50px, 1fr)
			minmax(50px, 1.5fr);

		&__body {
		}
	}

	&__header {
		border-bottom: 1px solid black;
		padding: 5px;
	}
	&__item {
		border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);

		padding: 5px 15px;

		& .input {
			// margin-right: 30px;
		}
	}

	& .options {
		display: flex;
		justify-content: flex-end;
	}
}
