@import './UI/button';
@import './UI/loader';
@import './UI/input';
@import './UI/toast';
@import './UI/alert';
@import './UI/modal';
@import './UI/select';
@import './UI/switch';
@import './UI/backdrop';
@import './UI/yearchanger';
@import './UI/checkbox';
@import './UI/text-area';

@import './categories';
@import './error';
@import './table';
@import './colorpicker';

@import './Budget/categoryChanger';
@import './Budget/accounting';
@import './Budget/categories';

@import './Todos/card';
@import './Todos/task';
@import './Todos/target';
@import './Todos/subtask';
@import './Todos/board';
@import './Todos/task-changer';
@import './Todos/task-editor';
@import './Todos/task-selector';
@import './Todos/target-editor';
@import './Todos/backlog-task';
@import './Todos/backlog';



