@import '../../variables';

.backlog-task {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	// border: 1px solid rgba($color: #000000, $alpha: 1.0);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: $border-radius;
  background: $c-background;
	margin-bottom: 5px;

	&__content {
		display: flex;
		align-items: center;
	}
}
