@import '../../variables';

.board {
	// max-width: 2000px;
	position: absolute;
	left: 20px;

	&__cards {
		display: flex;
		justify-content: flex-start;
		flex-shrink: 1;
		margin-bottom: 20px;
		// flex-wrap: wrap;
	}

	// overflow: auto;

}
