@import '../../variables';

.card {
  min-height: 400px;
  max-width: 400px;
  width: 300px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  margin-right: 2rem;
  background: #e9e9e9;
  border-radius: $border-radius;

  &__header {
    font-size: 18px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;

    & img {
      cursor: pointer;
    }
  }

  &__title {
    cursor: pointer;
  }

  &__delete {
    cursor: pointer;
  }

  &__content {
    margin-bottom: 15px;

    &-item {
      background: $c-white;
      border-radius: $border-radius;
      padding: 5px;
      margin-bottom: 2px;
    }
  }

  &__footer {
    display: flex;

    & button {
      flex-grow: 1;
    }
  }
}
