@import '../../variables';

.card {
  min-width: 200px;
  min-height: 300px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background: #E9E9E9;
  border-radius: $border-radius;

  &__header {
    font-size: 18px;
    margin-bottom: 15px;
  }

  &__content {

    margin-bottom: 15px;
    
    &-item {
      background: $c-white;
      border-radius: $border-radius;
      padding: 5px;
      margin-bottom: 2px;
    }

  }

  &__footer {
    display: flex;

    & button {
      flex-grow: 1;
    }
  }

}