@import '../../variables';

.subtask {
	display: flex;
	justify-content: space-between;
	align-items: center;
	// height: 32px;
	background: $c-white;
	border-radius: $border-radius;
	padding: 1px 5px;
	margin-bottom: 2px;

	&__content {
		display: flex;
		align-items: center;
		overflow: hidden;
	}

	&__text {
		margin-left: 5px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__button {
		font-size: 20px;
		cursor: pointer;
	}
}
