@import '../../variables';

.subtask {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $c-white;
  border-radius: $border-radius;
  padding: 1px 5px;
  margin-bottom: 2px;

  &__content {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  &__text {
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__button {
    font-size: 20px;
    cursor: pointer;
  }

  &-enter {
    opacity: 0;
    transform: translateY(-20px);
  }
  &-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  &-exit {
    opacity: 1;
  }
  &-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

.done {
  text-decoration: line-through;
}
