@import '../../variables';

.target {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 10px;
  margin-right: 20px;
  width: 160px;
  height: 125px;
  
  // background: rgba($color: #a50d0d79, $alpha: .3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: $border-radius;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  cursor: pointer;


  &__content {
    display: flex;
    align-items: center;
  }

  &__name {
    margin-right: 1rem;
  }

  &__date {
    font-size: $f-small;
    // align-self: baseline;
  }

  &:active {
    transform: scale(0.98);
  }


}