@import '../../variables';

.target-editor {
	&__modal {
		// max-width: 350px;
		min-width: 250px;
	}

	& textarea {
		width: 100%;
		margin-bottom: 2rem;
		height: 100px;
	}

	&__checkbox {
		height: 20px;
	}

	&__options {
		display: flex;
		justify-content: space-evenly;
		align-items: stretch;
		margin-bottom: 2rem;
	}

	&__buttons {
		display: flex;

		& :first-child {
			flex-grow: 1;
			margin-right: 2rem;
		}
	}
}
