@import '../../variables';

.task-editor {
  margin-bottom: 2rem;

  &__content {
    display: flex;
    background: $c-background;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: $border-radius;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  &__input {
    flex-grow: 5;
    margin-right: 2rem;

    & input {
      height: 30px;
      border: 1px solid transparent;
    }
  }

  &__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    &:nth-child(1) {
      margin-right: 1rem;
    }
  }

  &__icon {
    margin-right: 1rem;
    height: 25px;
  }

  &__footer {
    display: flex;

    & :first-child {
      margin-right: 2rem;
    }
  }
}
