@import '../../variables';

.task {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	
	&__main {
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-self: stretch;
		// width: 100%;
		height: 32px;
		background: $c-white;
		border-radius: $border-radius;
		padding: 0px 10px;
		margin-bottom: 2px;	
		// flex-shrink: 0;

	}
	
	&__content {
		display: flex;
		align-items: center;
		overflow: hidden;
		width: auto;
	}
	
	&__text {
		overflow: hidden;
		text-overflow: ellipsis;
		margin-left: 1rem;
	}

	&__counter {
		display: flex;
		align-self: center;
		align-items: center;
		justify-content: center;
		height: 22px;
		// width: 30px;
		font-size: 10px;
		background: rgba($color: $c-primary, $alpha: 0.6);
		color: $c-white;
		// padding: 1px 2px;
		border-radius: 2px;
		margin-left: 5px;
		padding: 0 5px;
	}

	&__extend {
		width: 90%;
		margin: 5px 0;

		& textarea {
			margin: 0;
			font-size: $f-small;
			width: inherit;
		}
	}

	&__input {
		height: 20px;
	}

	&__expand {
		cursor: pointer;
	}

	&__button {
		cursor: pointer;
		font-size: 24px;
		color: crimson;
	}

	.shevron {
		cursor: pointer;
		&-up {
			transform: rotate(180deg);
		}
	}
}
