@import '../../variables';

.task-editor {
	// display: flex;

	// justify-content: space-between;
	// margin: 4px 0;
	margin-bottom: 2rem;

	&__content {
		display: flex;
		justify-content: space-between;
		background: $c-background;
		// border: 1px solid #000000;
		box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);

		border-radius: $border-radius;
		margin-bottom: 1rem;
		padding: 1rem;
	}

	&__input input {
		height: 30px;
		border: 1px solid transparent;
	}

	&__options {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 300px;

		& :nth-child(1) {
			margin-right: 1rem;
		}
	}

	&__icon {
		margin-right: 1rem;
		height: 25px;
	}

	&__footer {
		display: flex;

		& :first-child {
			margin-right: 2rem;
		}
	}
}
