@import '../../variables';

.task-editor {
	// display: flex;

  // justify-content: space-between;
  margin: 4px 0;

	&__content {
		display: flex;
		justify-content: space-between;
		// background: $c-background;
		border: 1px solid #000000;
		border-radius: $border-radius;
		margin-bottom: 1rem;
		padding: 1rem;
	}

	&__input input {
    height: 30px;
    border: 1px solid transparent;
	}

	&__options {
		display: flex;
	}

	&__footer {
		display: flex;
	}
}
