@import '../../variables';

.task {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 32px;
	background: $c-white;
	border-radius: $border-radius;
	padding: 0px 10px;
	margin-bottom: 2px;

	&__content {
		display: flex;
	}

	&__counter {
		display: flex;
		align-self: center;
		align-items: center;
		justify-content: center;
		height: 22px;
		width: 22px;
		font-size: 10px;
		background: rgba($color: $c-primary, $alpha: 0.6);
		color: $c-white;
		// padding: 1px 2px;
		border-radius: 2px;
		margin-left: 5px;
  }
  
  &__expand {
    cursor: pointer;
  }

	&__button {
		cursor: pointer;
		font-size: 24px;
		color: crimson;
	}
}
