@import '../../variables';

.task-selector {
	&__modal {
		min-width: 350px;
		min-height: 300px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__list {
    overflow: auto;
    overflow-x: hidden;
		max-height: 300px;
		margin-bottom: 20px;
	}

	&__task {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 32px;
		background: $c-background;
		border-radius: $border-radius;
		padding: 3px 5px;
		margin-bottom: 2px;
		cursor: pointer;

		transition: all 0.1s ease-in-out;

		&.active {
			background: $c-primary;
			transform: translate(10px);
		}

		&:hover {
			background: grey;
		}
	}

	&__buttons {
		display: flex;

		& :first-child {
			flex-grow: 1;
			margin-right: 20px;
		}
	}
}
