.category-changer {

  	&__input input {
		height: 30px;
		margin: 30px 0;
		font-size: 14px;
	}

	  &__buttons {
		margin-top: 30px;
		display: flex;
		justify-content: space-between;

		& :first-child {
			margin-right: 20px;
			flex-grow: 1;
		}

		& button {
			flex-grow: 1;
		}
  }
}