@import '../../variables';

.category-editor {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__modal {
		min-width: 250px;
	}

	&__input input {
		height: 30px;
		margin: 30px 0;
		font-size: 14px;
	}

	&__buttons {
		margin-top: 30px;
		display: flex;
		justify-content: space-between;

		& :first-child {
			margin-right: 20px;
			flex-grow: 1;
		}
	}
}
