@import '../../variables';

.categories {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	// max-width: 600px;

	& h2 {
		font-size: 2rem;
		margin: 2rem auto;
	}

	&__table {
		margin-bottom: 10px;
		.table__header,
		.table__item {
			grid-template-columns:
				minmax(90px, 1fr)
				minmax(50px, 1fr);
		}
	}
}
