@import '../../variables';

.new-transaction {
	height: 50px;
	padding: 2px 10px;
	margin-bottom: 2px;
	background: $c-background;
	box-sizing: border-box;
	border-radius: 5px;

	&__options {
		& :first-child {
			margin-right: 5px;
		}
	}
}
