@import '../../variables';

.operations {
  &__table {
		.table__header,
		.table__item {	
			grid-template-columns:
				minmax(70px, 90px)
				minmax(70px, 1fr)
				minmax(50px, 1fr)
				minmax(150px, 1.5fr);
		}
	}
}