@import '../../variables';

.proportion {
  height: 40px;
  width: 200px;
  display: flex;
  flex-direction: column;
  font-size: 14px;

  &-top,
  &-bottom {
    border-radius: 5px;
    min-width: 40px;
    height: inherit;
    padding: 2px;
    padding-left: 5px;
  }

  &-top {
    background-color: $c-expense;
  }

  &-bottom {
    background-color: $c-income;
  }
}
