$c-primary: #1b4ea3;
$c-secondary: #f7f7fa;
$c-invalid: #cf2c00;
$c-background: #ededf0;

$border-radius: 4px;
$block-radius: 8px;
$gap: 3px;

$header-height: 80px;
$footer-height: 20px;

$f-small: 12px;
$f-normal: 16px;

$transform: translate(1px, 1px);
$scale: scale(0.98);

/* old styles*/

$c-background-btn: linear-gradient(180deg, #45a6ff 0%, #0055fb 100%), #c4c4c4;
$c-white: #fff;
$c-red: #cf2c00;
$c-green: #30b800;
$c-blue: #0055fb;
