/* colors*/

$c-primary: #1b4ea3;
$c-secondary: #f7f7fa;
$c-invalid: #cf2c00;
$c-background: #f8f8f8;
$c-expense: #b8340044;
$c-income: #31b80028;

$c-white: #fff;
$c-black: #000000;
$c-red: #cf2c00;
$c-green: #30b800;
$c-blue: #0055fb;

$light-red: #facdd4;
$light-orange: #ffe0b1;
$light-blue: #b3e0dd;
$light-green: #dcecc8;


/* sizing*/

$border-radius: 4px;
$block-radius: 8px;
$gap: 3px;
$element-height: 25px;

$header-height: 80px;
$footer-height: 20px;
$menu-width: 250px;

/* fonts*/

$f-small: 1rem;
$f-normal: 1.6rem;

/* transformations*/

$transform: translate(1px, 1px);
$scale: scale(0.98);
$transition-duration: 0.01s;

/* old styles*/

$c-background-btn: linear-gradient(180deg, #45a6ff 0%, #0055fb 100%), #c4c4c4;


