
$c-primary: #1B4EA3;
$c-secondary: #F7F7FA;
$header-height: 80px;
$c-background: #EDEDF0;
$border-radius: 4px;





/* old styles*/

$c-invalid: #cf2c00;
$c-background-btn: linear-gradient(180deg, #45a6ff 0%, #0055fb 100%), #c4c4c4;
$c-white: #fff;
$c-red: #cf2c00;
$c-green: #30b800;
$c-blue: #0055fb;

$c-primary: #1B4EA3;
$c-secondary: #F7F7FA;

// $c-secondary: #E1E1E3;

$history-height: 50px;
$footer-height: 70px;

$f-small: 12px;
$f-normal: 16px;

$transform: translate(1px, 1px);
$scale: scale(0.98);
