@import './libs/reset';
@import './components/all';
@import './pages/all';
@import './variables';
@import 'react-calendar/dist/Calendar';

html {
	font-size: 10px;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	background: $c-background;
	color: #0d0d0d;
	box-sizing: border-box;
	font-size: 1.6rem;
}

.app {
	position: absolute;
	min-width: 540px;
	min-height: 220px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: $gap;
}

.auth {
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;

	&__bg {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
	}

	&__main {
		width: 380px;
		border-radius: 5px;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
		box-sizing: border-box;
		padding: 30px 30px;

		background: $c-background;

		background: rgba(255, 255, 255, 0.6);
		border: 5px solid
			linear-gradient(220deg, rgba(255, 0, 0, 0.2) 100%, rgba(5, 0, 0, 0.6) 100%);
	}

	&__inputs {
		margin: 50px 0;
	}

	&__input {
		&:first-child {
			margin: 15px 0;
		}
	}

	&__buttons {
		display: flex;
		flex-direction: column;
		justify-content: center;
		// align-items: center;

		& > button {
			// margin-right: 10px;
			margin-bottom: 15px;
		}

		& div {
			text-align: center;
			cursor: pointer;
			opacity: 0.7;
		}
	}

	& header {
		font-size: 24px;
		text-align: center;
		margin-bottom: 30px;
	}
}

.main {
	position: absolute;
	height: 100%;
	width: 100%;

	&__header {
		display: flex;
		align-items: center;
		height: $header-height;
		background: $c-white;
		border: $c-secondary;
		border-radius: $block-radius;

		& h1 {
			font-size: 24px;
			margin-right: 60px;
			margin-left: 20px;
		}

		& nav {
			& a {
				padding: 5px 10px;
				margin-right: 30px;
				color: black;
				border-radius: $border-radius;

				&:hover {
					box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
				}
			}

			& .active {
				background: $c-primary;
				color: white;
			}
		}
	}

	&__content {
		padding: 15px;
		overflow: auto;
		position: absolute;
		bottom: $footer-height + $gap;
		top: $header-height + $gap;
		right: 0;
		left: $menu-width + $gap;
		background: $c-white;
		border-radius: $block-radius;
	}

	&__menu {
		width: $menu-width;
		position: absolute;
		top: $header-height + $gap;
		left: 0;
		bottom: $footer-height + $gap;
		background: $c-white;
		border-radius: $block-radius;
		margin-right: $gap;

		& ul {
			margin: 25px;
			display: flex;
			flex-direction: column;
		}

		& a {
			padding: 8px 5px;
			border-radius: $border-radius;
			color: black;

			&:hover {
				background: $c-background;
				cursor: pointer;
			}

			&.active {
				background: $c-primary;
				color: white;
			}
		}
	}

	&__component-frame {
		// background: $c-white;
		border-radius: $block-radius;
		flex-grow: 1;
	}

	& .resizer {
		background: $c-secondary;
		width: 10px;
	}

	&__footer {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: $footer-height;
		background: $c-white;
		border-radius: $block-radius;
		// z-index: 1;
	}
}

.react-calendar {
	border-radius: 4px;
	z-index: 110;
	position: fixed;
	transform: translate(-50%, 0);
	left: 50%;
	top: 20%;
}

.color-income {
	background-color: $c-income;
}

.color-expense {
	background-color: $c-expense;
}

.primary {
	color: $c-white;
	background-color: $c-primary;
}

.secondary {
	color: $c-primary;
	background-color: $c-secondary;
	border: $c-primary 1px solid;
}
